@import "tailwindcss";
body{
  background-color: #030712;
}
.btn-fill {
  position: relative;
  overflow: hidden;
  background: transparent;
}

.btn-fill::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.btn-fill:hover::before {
  transform: scaleX(1);
}

.btn-fill:hover {
  -webkit-text-fill-color: #fff;
}